---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

section {
    max-width: 750px;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 10px;
}

section #title .credits.left {
  display: none;
}

section #title .credits.right {
  display: none;
}

#downloads {
  display: none;
}
